.search {
  padding: 18px 30px;
  max-width: 480px;
  width: 100%;
  display: flex;
  gap: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-sizing: border-box;
  background: var(--background-block-color);
  transition: background 0.2s;

  &__icon {
    height: 20px;
    width: 20px;
    background: var(--search-icon);
    transition: background 0.2s;
  }

  &__input {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
    transition: color 0.2s;

    &::placeholder {
      color: var(--search-placeholder-color);
      transition: color 0.2s;
    }
  }
}
