body {
  background-color: #fff;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
  background: var(--background-body-color);
  transition: background 0.2s;
}

body[data-theme="light"] {
  --background-block-color: #fff;
  --background-body-color: #fff;
  --text-color: #121214;
  --theme-icon: url(./images/light-theme-icon.svg);
  --search-icon: url(./images/light-search-icon.svg);
  --search-placeholder-color: #00000080;
  --arrow-icon: url(./images/light-arrow-icon.svg)
}

body[data-theme="dark"] {
  --background-block-color: #2b3743;
  --background-body-color: #202d36;
  --text-color: #ffffff;
  --theme-icon: url(./images/dark-theme-icon.svg);
  --search-icon: url(./images/dark-search-icon.svg);
  --search-placeholder-color: #ffffffbf;
  --arrow-icon: url(./images/dark-arrow-icon.svg)
}
